.container {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}

.header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.mat-table {
  overflow: auto;
  max-height: 80vh;
}