<jqxChart #myChart
          [width]="1350" [height]="650"
          [title]="'Current Logger Performance'"
          [description]="'Test Data Logger'"
          [showLegend]="true" [enableAnimations]="true" [animationDuration]="3000" [padding]="padding"
          [titlePadding]="titlePadding" [source]="dataAdapter" [xAxis]="xAxis"
          [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'"
          [enableAxisTextAnimation]="true" [borderLineWidth]="0.5">
</jqxChart>