html, body { height: 100%; padding: 0; margin: 0; }

.container {
	overflow: hidden;
	width: 100%;
	display: inline-block;
	overflow: auto;
}

.map { 
	min-width: 400px;
	width: 50%;
	height: 100%;
    padding: 1em;
    float: left;
    box-sizing: border-box;
}

.table {
	min-width: 400px;
	width: 50%;
	height: 100%;
    padding: 1em;
    float: left;
    box-sizing: border-box;
}