<div>
	<jqxGauge #powerGauge 
	  [ranges]="ranges" [ticksMinor]="ticksMinor" [ticksMajor]="ticksMajor" [caption]="'Power'"
	  [colorScheme]="'scheme01'" [max]="7"
	  > <!-- [labels]=powerLabels -->
	</jqxGauge> <!-- (onValueChanging)="onValueChanging($event)" -->
	<!--   <div #gaugeValue class="gaugeValue"></div> -->
</div>
<!-- <div class='linearGuage'>
	<jqxLinearGauge #myLinearTempGauge
	    [width]="300" [height]="100" [min]="-20" [max]="60" [orientation]="'horizontal'"
	    [ticksMajor]="ticksMajorLinear" [ticksMinor]="ticksMinorLinear" 
	    [pointer]="{ size: '5%' }" [colorScheme]="'scheme01'" [labels]="labels" 
	    [ranges]="rangesLinear" [animationDuration]="1500">
	</jqxLinearGauge>
	<jqxLinearGauge #myLinearPressureGauge
	    [width]="300" [height]="100" [min]="-20" [max]="60" [orientation]="'horizontal'"
	    [ticksMajor]="ticksMajorLinear" [ticksMinor]="ticksMinorLinear" 
	    [pointer]="{ size: '5%' }" [colorScheme]="'scheme01'" [labels]="labels" 
	    [ranges]="rangesLinear" [animationDuration]="1500">
	</jqxLinearGauge>
	<jqxLinearGauge #myLinearFlowGauge
	    [width]="300" [height]="100" [min]="-20" [max]="60" [orientation]="'horizontal'"
	    [ticksMajor]="ticksMajorLinear" [ticksMinor]="ticksMinorLinear" 
	    [pointer]="{ size: '5%' }" [colorScheme]="'scheme01'" [labels]="labels" 
	    [ranges]="rangesLinear" [animationDuration]="1500">
	</jqxLinearGauge>
</div> -->