<mat-toolbar color="primary">
  <button mat-icon-button (click)="goHome()"><mat-icon>home</mat-icon></button>
  <span class="header">Dashboard</span>
  <span class="spacer"></span>
  <button mat-mini-fab color="accent" class="icon" matTooltip="Download All Logs"(click)="downloadFolder()"><mat-icon>folder</mat-icon></button>
  <button mat-mini-fab color="accent" class="icon" matTooltip="Download Log"(click)="downloadFile()"><mat-icon>file_download</mat-icon></button>
  <button mat-mini-fab color="accent" class="icon" matTooltip="Save Chart"(click)="saveAsPng()"><mat-icon>camera</mat-icon></button>
  <app-gauge></app-gauge>
</mat-toolbar><div class="me" matTooltip="................................|Gareth Sharpe, 2017"></div>